.footer__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.12;
    font-style: normal;
    font-weight: normal;
    transition: opacity 0.5s linear;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}