.cover__title {
    margin: 0;
    max-width: 560px;
    font-size: 72px;
    line-height: 1.05;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
    }
}