@import url(../place/__title/place__title.css);
@import url(../place/__website/place__website.css);
@import url(../place/__url-heading/place__url-heading.css);
@import url(../place/__paragraph/place__paragraph.css);
@import url(../place/__text/place__text.css);
@import url(../place/__link/place__link.css);
@import url(../place/__image/place__image.css);
.place {
    margin: 0 0 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (max-width: 768px) {
    .place {
        margin: 0 0 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        row-gap: 32px;
        margin: 0 0 50px;
    }
}